<html ng-app="filter">
<head>
  <title>sdf</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script>
  var app = angular.module("filter", []);
  app.controller('xxCtrl', function($scope) {
    $scope.products = [
      {"name":"Something", "price":32, "allergens":"", "nutritions":[43,34,34,34], "quantity":0},
      {"name":"Something", "price":32, "allergens":"", "nutritions":[43,34,34,34], "quantity":0},
      {"name":"Something", "price":32, "allergens":"", "nutritions":[43,34,34,34], "quantity":0},
      {"name":"Something", "price":32, "allergens":"", "nutritions":[43,34,34,34], "quantity":0}
    ];
    $scope.basket = [];
    $scope.total = 0;
    $scope.add = function(name, price, quantity) {
      $scope.total += price * quantity;
      $scope.basket.push({"name":name, "total": price*quantity, "quantity":quantity});
    };
  });
  </script>
</head>
<body ng-controller="xxCtrl">
  {{products | json}}
  <hr/>
  {{basket | json}}
  <div id="header" style="height:120px;">
    <h1>Asda</h1>
    <div style="position:fixed; top:0; right:10%;">Total: {{total}}</div>
  </div>
  <div id="products">
    <div style="width:20%; float: left;">
      <h2>Filter</h2>
    </div>
    <div style="width:65%; float: left;">
      <div ng-repeat="p in products" style="width:29%; margin:1%;float:left;">
        <img src="http://www.novelupdates.com/img/noimagefound.jpg" width="100%"/>
        <h2>{{p.name}}</h2>
        <hr/>
        <span style="text-bold: normal;float:right">£{{p.price}}</span>
        <div style="clear:both"></div>
        <small>Quantity</small> <input type="number"ng-model="p.quantity" style="width:50px;float:right;" />
        <button type="button" style="width:100%; float:right" ng-disabled="p.quantity == 0" ng-click="add(p.name, p.price, p.quantity)">Add</button>
      </div>
    </div>
    <div style="width:15%; float:right; color:">
      <h2>Basket</h2>
      <div ng-repeat="item in basket">
        <h2>{{item.name}}</h2>
        <div>{{item.quantity}}</div>
        <div>{{item.total}}</div>
      </div>
    </div>
  </div>
</body>
</html>
